<!-- navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rentify</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
           <div class="btn btn-primary">Checkout</div>
           <div class="btn btn-primary">Verification</div>
           <div class="btn btn-primary">Delivery</div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- coupon section -->
<div class="container justify-content-center">
  <div class="card">
    <div class="card-body" style="width: 20rem;">
      <span>
        <img src="../../../assets/icons/coupon.png" class="img-fluid" alt="coupon" style="width: 10%;">
        <span style="position: relative; left: 1rem;">Coupon</span>
        <i class="bi bi-caret-right" style="position: relative; left: 10rem;"></i>
      </span>
      </div>
    </div>
  </div>


<!-- <p><a routerLink="/shipping">Shipping Cost</a></p> -->

<!-- <form [formGroup]="checkOutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name">
  </div>
  <div>
    <label for="address">Address</label>
    <input id="address" type="text" formControlName="address">
  </div>
  <button type="submit" class="btn btn-primary">Purchase</button>
</form> -->
<!-- </div> -->

<!-- <button type="submit" class="btn btn-primary" (click)="getDetails()">Get details</button> -->
