<!-- navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-primary bg-gradient">
  <div class="container-fluid main-nav-div">
    <a class="navbar-brand ms-5" href="#" style="color: white;">Rentify</a>
    <!-- search bar -->
    <form class="d-flex p-1 flex-fill">
      <i class="bi bi-search search-icon-position"></i>
      <input class="form-control me-2 rounded-end ms-3" type="search" 
        placeholder="Search for products,brands and more" aria-label="Search">
    </form>
    <!-- search bar -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-3" id="navbarSupportedContent">
      <div class="d-flex">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a routerLink="/cart">
              <button class="btn btn-outline-primary me-md-2" style="background-color: white; color: blue;">
                <i class="bi bi-cart3" style="margin-right: 5px;"></i>
                <span class="badge bg-secondary">{{ itemCount }}</span>Cart
              </button>
            </a>
            <button type="button" class="btn btn-outline-primary ms-3" data-bs-toggle="modal"
             data-bs-target="#exampleModal" *ngIf="!isAuthenticated" style="background-color: white; color: blue;">
              LOGIN
            </button>
            <button type="button" class="btn btn-primary" 
            *ngIf="isAuthenticated" style="background-color: white; color: blue;"
            (click)="logoutWithGoogle()">
              LOGOUT
            </button>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- navigation -->

<!-- Login Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true" *ngIf="!isAuthenticated">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="position-relative close-button-style">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-auth-page></app-auth-page>
      </div>
    </div>
  </div>
</div>
