.badge {
  position: relative;
  right: 8px;
  top: -13px;
}

.bg-secondary {
  padding: 4px;
  border-radius: 15px;
}

.close-button-style {
  margin-left: auto;
  top: 7px;
  right: 10px;
}

.modal-content {
  border-radius: 1.3rem;
}

.search-icon-position {
  position: relative;
  left: 91%;
  margin-top: 5px;
}
