<div class="row row-cols-1 row-cols-md-3 g-4 container-fluid">
  <div class="col">
    <div class="card h-100">
      <div class="card-body text-center">
      <img src="../../assets/icons/washing-machine.png" class="card-img-top"
      alt="..." style="width: 30%; margin: auto;">
        <h5 class="card-title text-center">Washing Machine</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body text-center">
      <img src="../../assets//images/refrigerator.png" class="card-img-top"
       alt="..." style="width: 30%; margin: auto;">
        <h5 class="card-title text-center">Refrigerator</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body text-center">
        <img src="../../assets/icons/television.png" class="card-img-top"
        alt="..." style="width: 30%; margin: auto;">
        <h5 class="card-title text-center">Television</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body text-center">
      <img src="../../assets/images/air-conditioner.png" class="card-img-top"
      alt="..." style="width: 30%; margin: auto;">
        <h5 class="card-title text-center">Air Conditioner</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body text-center">
      <img src="../../assets/images/microwave.png" class="card-img-top"
       alt="..." style="width: 30%; margin: auto;">
        <h5 class="card-title text-center">Microwave</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body text-center">
      <img src="../../assets/images/vacuum-cleaner.png" class="card-img-top" alt="..."
      style="width: 30%; margin: auto;">
        <h5 class="card-title text-center">Vacuum Cleaner</h5>
      </div>
    </div>
  </div>
</div>
