<div class="row row-cols-1 row-cols-md-3 g-4 container-fluid">
  <div class="col">
    <div class="card h-100">
      <div class="card-body text-center">
      <img src="../../assets/images/camera.png" class="card-img-top"
      alt="..." style="width: 30%; margin: auto;">
        <h5 class="card-title text-center">Camera</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body text-center">
      <img src="../../assets/images/laptop.png" class="card-img-top"
       alt="..." style="width: 30%; margin: auto;">
        <h5 class="card-title text-center">Laptop</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body text-center">
        <img src="../../assets/images/headphone.png" class="card-img-top"
        alt="..." style="width: 30%; margin: auto;">
        <h5 class="card-title text-center">Headphone</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body text-center">
      <img src="../../assets/images/smartphone.png" class="card-img-top"
      alt="..." style="width: 30%; margin: auto;">
        <h5 class="card-title text-center">SmartPhone</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body text-center">
      <img src="../../assets/images/tablet.png" class="card-img-top"
       alt="..." style="width: 30%; margin: auto;">
        <h5 class="card-title text-center">Tablet</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body text-center">
      <img src="../../assets/images/smartwatch.png" class="card-img-top" alt="..."
      style="width: 30%; margin: auto;">
        <h5 class="card-title text-center">Smartwatch</h5>
      </div>
    </div>
  </div>
</div>
