<div>

  <h3>Browse by Package Type</h3>

    <div class="btn-group gap-3 mb-2" role="group" aria-label="package">
      <button type="button" class="btn btn-outline-primary" (click)="showWeeklyPackage()">Weekly</button>
      <button type="button" class="btn btn-outline-primary" (click)="showMonthlyPackage()">Monthly</button>
      <button type="button" class="btn btn-outline-primary" (click)="showYearlyPackage()">Yearly</button>
    </div>

<div *ngIf="showPack">
  <h4>{{ packageName }}</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

</div>
</div>

