<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div *ngIf="isLoginModeSignup">
        <app-sign-up></app-sign-up>
      </div>
      <div *ngIf="!isLoginModeSignup">
        <app-login></app-login>
      </div>
      <div class="login-btn">
        <button type="submit" class="btn btn-primary" (click)="switchModeToLogin()" style="margin-right: 5%;">Login</button>
        <a href="#" (click)="switchModeToSignup()">Sign Up</a>
      </div>
      <button type="button" (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button>
    </div>
  </div>
</div>

