<div class="cart-item container-fluid">
  <h3>My Cart</h3>
  <div *ngFor="let item of items">
    <h5>Item Name:</h5><p>{{ item.Description }}</p>
    <h5>Price:</h5><p>{{ item.Price }}</p>
    <h5>Quantity:</h5><p>{{ item.Quantity }}</p>
  </div>
  <p><a routerLink="/shipping">Shipping Cost</a></p>
<form [formGroup]="checkOutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name">
  </div>
  <div>
    <label for="address">Address</label>
    <input id="address" type="text" formControlName="address">
  </div>
  <button type="submit" class="btn btn-primary">Purchase</button>
</form>
</div>


