<div class="cart-item">
  <h3>Cart</h3>
  <p><a routerLink="/shipping">Shipping Cost</a></p>
  <div *ngFor="let item of items">
    <p>{{ item.name }}</p>
    <p>{{ item.type }}</p>
  </div>
</div>

<form [formGroup]="checkOutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name">
  </div>
  <div>
    <label for="address">Address</label>
    <input id="address" type="text" formControlName="address">
  </div>
  <button type="submit" class="btn btn-primary">Purchase</button>
</form>

